@model UsuarioModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}
<div class="box">
    <h2>Login</h2>
    <form asp-controller="Login" asp-action="Logar" method="post">
        <div class="imputBox">
            <input type="text" asp-for="usuario" id="usuario" required>
            <label>Usuário</label>
        </div>

        <div class="imputBox">
            <input type="password" asp-for="senha" id="senha" required>
            <label>Senha</label>
        </div>
        @if (TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
                @TempData["MensagemErro"]
            </div>
        }
    <div >
        <p style="color: azure;">Não possui uma conta ? <a style="color: azure;" class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Cadastro" >Cadastre-se</a></p>
        
    </div>
        <input type="submit" name="" value="Entrar">
    </form>
</div>
