@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">pagina 1 </h1>
    <p>Mateus de Moura Santos.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                Nome
                <br /><br />
                
                      <p>

                          mateus de moura santos
                      </p>

            </div>
            <div class="col">
                Column
            </div>
            <div class="col">
                Column
            </div>
        </div>
    </div>
</div>
